html, body
{
	background-color: #CDCBA6;
}

.thread_index, .comment_view, .thread_create
{
	background-color: white;
}

.form
{
    color: #E7E7DE;
    font-size: 20px;
}

.form_legend
{
	color: #00587A;
	font-weight: bold;
	font-size: 30px;
	font-family: Lucida Console;
}


.form_link, a.form_link
{
    color: #E7E7DE;
    font-size: 15px;
}

a.form_link:hover
{
	color: #CDCBA6;
}

.well
{
    background: #0F3057;
}

.row
{
	padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
}

.btn
{
	background-color: #008891;
	color: #E7E7DE;
}

.btn:hover
{
	background-color: #E7E7DE;
	color: #008891;
}

.input
{
	height: 70px;
}

.pagination>.active>a {
    z-index: 2;
    color: #0F3057;
    background-color: #0F3057;
    border-color: #0F3057;
    cursor: pointer;
}

.pagination {
    margin: 0;
}